$white: #ffffff;
$black: #333333;
$error: #FE776E;

$main-orange: #ED742A;
$main-orange-dark: #D66826;

$main-violet: #723C86;
$main-violet-dark: #5D316D;

$gray-dark: #37383F;
$gray: #9A9BAF;
$gray-light: #D8D9E7;
$gray-ultra-light: #F3F4F8;