.leo- {
    &list {
        list-style: none;
        display: flex;
        flex-direction: column;

        gap: vw(12px, 320px);

        @media screen and (min-width: 526px) {
            gap: vw(12px, 744px);
        }
        
        @media screen and (min-width: 920px) {
            gap: vw(12px);
        }
        
        @media screen and (min-width: 1440px) {
            gap: 12px;
        }
        
        &_item {

            @media screen and (min-width: 526px) {
            
            }
            
            @media screen and (min-width: 920px) {
            
            }
            
            @media screen and (min-width: 1440px) {
            
            }
        }
    }

    &listItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: $gray-ultra-light;

        border-radius: vw(8px, 320px);
        padding: vw(8px, 320px) vw(12px, 320px);
        gap: vw(8px, 320px);
        height: vw(40px, 320px);

        @media screen and (min-width: 526px) {
            border-radius: vw(8px, 744px);
            padding: vw(8px, 744px) vw(12px, 744px);
            gap: vw(8px, 744px);
            height: vw(40px, 744px);
        }
        
        @media screen and (min-width: 920px) {
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            background: $white;

            border-radius: vw(8px);
            padding: vw(8px) vw(12px);
            gap: vw(8px);
            height: vw(40px);

            &:hover {
                background: $gray-ultra-light;
            }
        }
        
        @media screen and (min-width: 1440px) {
            border-radius: 8px;
            padding: 8px 12px;
            gap: 8px;
            height: 40px;
        }

        &_icon {

            width: vw(20px, 320px);
            height: vw(20px, 320px);

            @media screen and (min-width: 526px) {
                width: vw(20px, 744px);
                height: vw(20px, 744px);
            }
            
            @media screen and (min-width: 920px) {
                width: vw(24px);
                height: vw(24px);
            }
            
            @media screen and (min-width: 1440px) {
                width: 24px;
                height: 24px;
            }

            & path {
                fill: $gray;
                transition: fill 0.3s ease-in-out;

                @media screen and (min-width: 920px) {

                }
            }
        }

        &_text {
            flex: 1;
            line-height: 100%;

            font-size: vw(12px, 320px);

            @media screen and (min-width: 526px) {
                font-size: vw(12px, 744px);
            }
            
            @media screen and (min-width: 920px) {
                font-size: vw(16px);
            }
            
            @media screen and (min-width: 1440px) {
                font-size: 16px;
            }
        }

        &_arrow {
            width: vw(16px, 320px);
            height: vw(16px, 320px);

            @media screen and (min-width: 526px) {
                width: vw(16px, 744px);
                height: vw(16px, 744px);
            }
            
            @media screen and (min-width: 920px) {
                width: vw(16px);
                height: vw(16px);
            }
            
            @media screen and (min-width: 1440px) {
                width: 16px;
                height: 16px;
            }

            & path {
                fill: $gray;
            }
        }
    }
}